@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

$darkGray: #3F3F3F;
$gray: #9E9E9E;
$lightGray: #A7A7A7;

body {
  font-family: 'Rubik';
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}